.input-error {
  border: 2px solid red;
  margin-top: 5px;
  width: 350px;
  height: 35px;
  border-radius: 12px;
  padding-left: 10px;
  color: #8897ad;
  background-color: #f7fbff;
}

*:focus {
  outline: none;
}

.error-message {
  color: red;
  height: 25px;
  width: 350px;
  padding-left: 8px;
}
