*{
    margin: 0px;
    padding: 0px;
}

.signin-container{
    width: 95vw;
    height: 93vh;
    margin: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.signin-container{
    .left-section{
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: 80vh;
}
}


.signin-container{
    .right-section{
    /* border: 2px solid red; */
    width: 50vw;
    height: 90vh;
}}

.signin-container{
.text{
    margin-top: 40px;
    width: 350px;
    .inside-text{
        margin-top: 20px;
    }
    span{
       
        display: block;
    }
    h1{
        margin-top: 10px;
        display: inline;
    }
    img{
        margin-top: 10px;
        height: 40px;
        width: 40px;
    }
}

.login-info{
    margin-top: 20px;
}



.btn{
    display: block;
}

.btn,.input-text{
    margin-top: 5px;
    width: 350px;
    height:35px;
    border-radius: 12px;
}

.input-text{
   border-style: none;
   border: 1px solid #D4D7E3;
    padding-left: 10px;
    color: #8897AD;
    background-color:#F7FBFF ;

}

.btn{
    width: 360px;
    margin-top: 20px;
    background-color: #162D3A;
    color: #FFFFFF;
}





.password{
    margin: 3px;
    width: 350px;
    display: flex;
    flex-direction: column;
 
}



.forgot-link a{
float:right;
display: block;
margin: 5px;
text-decoration: none;
color: #1E4AE9;
font-size: .9em;
   
}
.right-section{
    border-radius: 24px;
    height: 95vh;
    .image{
        padding-left: 18px;
    img{
    border-radius: 24px;
    height: 95vh;
    width : 46vw;
        background-repeat: no-repeat;
        background-size: cover;
    }
    }
}


.or-section{
    margin-top: 40px;
    margin-bottom: 30px;
    border-bottom: 2px solid #CFDFE2;
}

.sign-up-option{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
      

        a{
            text-decoration: none;
            color: #1E4AE9;
        }
    }
}

form{
    margin-top: 5px;
}
}